<!DOCTYPE html>
<html>

<head>
  <title>文档</title>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    body {
      font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    }

    .margin-top {
      margin-top: 10px;
    }
  </style>
</head>

<body>
  <div id="app">
    <el-container>
      <el-header></el-header>
      <el-main>
        <el-row>
          <!-- 间隙 -->
          <el-col :sm="1" :md="4" style="height: 1px;">
          </el-col>
          <!-- 间隙 end -->
          <!-- 筛选条件 -->
          <el-col :sm="22" :md="16">
            <el-row :gutter="20">
              <el-col :sm="24" :md="6" class="margin-top">
                <el-input v-model="form.province">
                  <template slot="prepend">省</template>
                </el-input>
              </el-col>
              <el-col :sm="24" :md="6" class="margin-top">
                <el-input v-model="form.city">
                  <template slot="prepend">市</template>
                </el-input>
              </el-col>
              <el-col :sm="24" :md="6" class="margin-top">
                <el-input v-model="form.county">
                  <template slot="prepend">县</template>
                </el-input>
              </el-col>
              <el-col :sm="24" :md="6" class="margin-top">
                <el-input v-model="form.month">
                  <template slot="prepend">月份</template>
                </el-input>
              </el-col>
              <el-col :sm="24" :md="6" class="margin-top">
                <el-input v-model="form.soil_type">
                  <template slot="prepend">土壤类型</template>
                </el-input>
              </el-col>
              <el-col :sm="24" :md="6" class="margin-top">
                <el-input v-model="form.organic_matter_mean">
                  <template slot="prepend">有机质均值</template>
                </el-input>
              </el-col>
              <el-col :sm="24" :md="6" class="margin-top">
                <el-input v-model="form.total_nitrogen_mean">
                  <template slot="prepend">总氮均值</template>
                </el-input>
              </el-col>
              <el-col :sm="24" :md="6" class="margin-top">
                <el-input v-model="form.total_phosphorus_mean">
                  <template slot="prepend">总磷均值</template>
                </el-input>
              </el-col>
              <el-col :sm="24" :md="6" class="margin-top">
                <el-input v-model="form.total_potassium_mean">
                  <template slot="prepend">总钾均值</template>
                </el-input>
              </el-col>
              <el-col :sm="24" :md="6" class="margin-top">
                <el-input v-model="form.altitude">
                  <template slot="prepend">海拔</template>
                </el-input>
              </el-col>
              <el-col :sm="24" :md="6" class="margin-top">
                <el-input v-model="form.longitude">
                  <template slot="prepend">经度</template>
                </el-input>
              </el-col>
              <el-col :sm="24" :md="6" class="margin-top">
                <el-input v-model="form.latitude">
                  <template slot="prepend">纬度</template>
                </el-input>
              </el-col>
              <el-col :sm="24" :md="6" class="margin-top">
                <el-input v-model="form.climate_type">
                  <template slot="prepend">气候类型</template>
                </el-input>
              </el-col>
              <el-col :sm="24" :md="12" class="margin-top">
                <el-input v-model="form.average_temperature">
                  <template slot="prepend">累年月平均气温（0.1℃）</template>
                </el-input>
              </el-col>
              <el-col :sm="24" :md="12" class="margin-top">
                <el-input v-model="form.relative_humidity">
                  <template slot="prepend">累年月相对湿度（1%）</template>
                </el-input>
              </el-col>
              <el-col :sm="24" :md="12" class="margin-top">
                <el-input v-model="form.precipitation">
                  <template slot="prepend">累年月降水量（0.1mm）</template>
                </el-input>
              </el-col>
              <el-col :sm="24" :md="12" class="margin-top">
                <el-input v-model="form.sunshine">
                  <template slot="prepend">累年月日照百分率（1%）</template>
                </el-input>
              </el-col>
              <el-col :sm="24" :md="24" class="margin-top">
                <el-button type="primary" :disabled="loadingStatus===1" v-on:click="onSubmit">查询</el-button>
              </el-col>
            </el-row>
            <!-- 筛选条件 end-->
            <!-- 表格展示 -->

            <el-card class="box-card margin-top">
              <el-table :data="medicines" style="width: 100%" v-loading="loadingStatus===1">
                <el-table-column label="四气" prop="attributes.four_gas">
                </el-table-column>
                <el-table-column label="五味" prop="attributes.five_flavors">
                </el-table-column>
                <el-table-column label="归经" prop="attributes.return_to_classics">
                </el-table-column>
                <el-table-column label="功效" prop="attributes.efficacy">
                </el-table-column>
                <el-table-column label="道地药材" prop="attributes.genuine_herbs">
                </el-table-column>
              </el-table>
              <el-pagination :page-size="page.limit" :page-count="page.currentPage" layout="prev, pager, next"
                :total="page.total" @current-change="changePage">
              </el-pagination>
            </el-card>

            <!-- 表格展示 end -->
          </el-col>

          <!-- 间隙 -->
          <el-col :sm="1" :md="4" style="height: 1px;">
          </el-col>
          <!-- 间隙 end -->
        </el-row>
      </el-main>

      <el-footer></el-footer>
    </el-container>
  </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script src="//cdn.jsdelivr.net/npm/leancloud-storage@3.15.0/dist/av-min.js"></script>

<style>
  .demo-table-expand {
    font-size: 0;
  }

  el-form-item {
    width: 50%;
  }

  .demo-table-expand label {
    width: 175px;
    color: #99a9bf;
  }

  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
</style>
<script>

  const APP_ID = 'hGKI9TBgN6rR13CUQrXgCJL1-gzGzoHsz';
  const APP_KEY = 'IMmltdNp0XWutqIKBfAlYOUL';
  AV.init({
    appId: APP_ID,
    appKey: APP_KEY
  });

  const app = new Vue({
    el: '#app',
    data: {
      form: {
        province: '',
        city: '',
        county: '',
        soil_type: '',
        organic_matter_mean: '',
        total_nitrogen_mean: '',
        total_phosphorus_mean: '',
        total_potassium_mean: '',
        altitude: '',
        longitude: '',
        latitude: '',
        climate_type: '',
        average_temperature: '',
        relative_humidity: '',
        precipitation: '',
        sunshine: '',
        genuine_herbs: '',
        four_gas: '',
        five_flavors: '',
        return_to_classics: '',
        efficacy: '',
        month: '',
        genuine_herbs_source: ''

      },
      querys: [],
      page: {
        total: 0,
        currentPage: 0,
        limit: 10,
      },
      loadingStatus: 0,
      medicines: [],
      _medicines: [],
    },
    methods: {
      onSubmit: async function () {
        try {
          this.loadingStatus = 1;
          const query = new AV.Query('medicine');
          const keyInt = ['month', 'organic_matter_mean', 'total_nitrogen_mean', 'total_phosphorus_mean', 'total_potassium_mean', 'altitude', 'longitude', 'latitude', 'average_temperature', 'relative_humidity', 'precipitation', 'sunshine', 'genuine_herbs_id'];
          this.querys = Object.keys(this.form).reduce((querys, key) => {
            if (this.form[key] === '' || this.form[key] === undefined) {
              return querys;
            }
            const value = keyInt.findIndex(k => k === key) >= 0 ? parseFloat(this.form[key]) : this.form[key];
            querys.push(query.equalTo(key, value));
            return querys;
          }, []);
          await this.query();
        } catch (error) {
          console.log(error);
          this.$message.error('请求出错');
        }
      },
      changePage: function (page) {
        this.page.total = this._medicines.length;
        this.page.currentPage = page;
        const _offset = (this.page.currentPage - 1) * this.page.limit;
        const offset = _offset < 0 ? 0 : _offset;

        this.medicines = this._medicines.slice(offset, this.page.limit + offset);
      },
      query: async function () {
        if (this.querys.length <= 0) {
          this.medicines = [];
          this.page.total = 0;
          return;
        }
        const selectKeys = ['four_gas', 'five_flavors', 'return_to_classics', 'efficacy', 'genuine_herbs'];
        const query = AV.Query.and(...this.querys);
        const total = await query.select(selectKeys).count();
        let offset = 0;
        const limit = 1000;
        const medicineSet = new Set();
        this._medicines = [];
        while (offset < total) {
          const medicines = await query.select(selectKeys).skip(offset).limit(1000).find();
          offset = offset + medicines.length;
          medicines.forEach(medicine => {
            const value = selectKeys.reduce(($value, key) => $value + medicine.attributes[key], '');
            if (!medicineSet.has(value)) {
              medicineSet.add(value);
              this._medicines.push(medicine);
            }
          });
        }

        this.loadingStatus = 0;
        this.changePage(0);

      }
    }
  })
</script>

</html>


<!-- 
省      province
市      city
县      county
土壤类型      soil_type
有机质均值      organic_matter_mean
总氮均值      total_nitrogen_mean
总磷均值      total_phosphorus_mean
总钾均值      total_potassium_mean
海拔      altitude
经度      longitude
纬度      latitude
气候类型      climate_type
累年月平均气温（0.1℃）    average_temperature
累年月相对湿度（1%）    relative_humidity
累年月降水量（0.1mm）     precipitation
累年月日照百分率（1%）    sunshine
道地药材ID      genuine_herbs_id
道地药材      genuine_herbs
道地药材来源  genuine_herbs_source
四气      four_gas
五味      five_flavors
归经      return_to_classics
功效      efficacy
月份      month
-->